
body{
  width: 100vw;
  background-color: #FEFBF6;
}

.navaltcolor{
  background-color: #8CB9BD;
}

.navcontainer{
  margin: auto;
  width: 50%;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.navbg {
  background-color: #8CB9BD;
}

.nav-item :hover{
    color: #FEFBF6;
}


.mainlogoimg {
position: inherit;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 60px;
  width: 60px;
  background-color:#8CB9BD;
  border: 1px solid #FEFBF6;
  
}

#gallerydivbg{
  background-color:#FEFBF6;
}

#gallerywidth{
  margin-left: 10%;
  margin-right: 10%;
}

#gallerytext{
  font-family: "Montserrat", sans-serif;
  color: #8CB9BD;
  text-align: center;
  font-size:50px;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.btn-primary{
    border:none !important;
    color: #FEFBF6;
    background-color: #8CB9BD;
}

.btn-hover{
    color: #B67352;
    background-color: #ECB159;
}

.btn-click{
    color: #ECB159;
    background-color: #B67352;
}

/* Game Start */
#coveringimgs {
  margin-top: 50px;
  text-align: center;
}

.image {
  cursor: pointer;
  width: 20%;
  margin: 10px;
}

.hidden {
  display: none;
}

#winTextDiv{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#winTextHead{
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#winTextBody{
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    
}

#contactButton {
    border:none !important;
    color: #FEFBF6;
    background-color: #8CB9BD;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    margin-bottom: 50px;
}

/* Game End */

/* Career Section Start*/
#careerTextHead{
  font-family: "Montserrat", sans-serif;
  color: #8CB9BD;
  text-align: center;
  font-size:xx-large;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#careerTextBody{
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: large;
  
}


/* Career Section End*/

h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    }

  h2 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  h3 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  h4{
    font-family: "Montserrat", sans-serif;
    color: #ECB159;
    background-color: #B67352;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  h6{
    font-family: "Montserrat", sans-serif;
    color: #000000;
    background-color:   #ECB159;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  h7{
    font-family: "Montserrat", sans-serif;
    color: #000000;
    background-color:  #FEFBF6;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .text-uppercase{
    font-family: "Montserrat", sans-serif;
    color: #FEFBF6;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .footerwrap{
    background-color:  #8CB9BD;
  }

  #footertext{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  .footlinks{
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
    font-style: normal;
  }

  /* ---------------- Tony ------------------------*/
  .text_centered{
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }

  .img_input{
    width: 200px; 
    height: 200px;
    margin: 20px;
  }

  .honk{
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "MORF" 15,
      "SHLN" 50;
  }

  /* jesse css for pages Instruments + Amplifiers*/

  #instruments-intro {
    margin-top: 1rem;
    text-align: center;
  }

  #instruments-intro h1 {
    display: inline;
    font-family: "Montserrat", sans-serif;
    color: #8CB9BD;
    font-size:3vw;
    font-weight: 700;
    font-style: normal;
  }
  #instruments-intro #instrument-count {
    display: inline;
    color: #B67352;
  }

#instruments-filter {
  border-top: 3px solid #B67352;
  border-bottom: 3px solid #B67352;
  padding: 4vw;
}

#audio-filter {
  border-top: 3px solid #B67352;
  border-bottom: 3px solid #B67352;
  padding: 4vw;
}

#pillNav2 {
  min-width: 100%;
  background-color: #8CB9BD;
  border: 1px solid #B67352;
}
  
#pillNav2 .nav-link {
  background-color: #B67352;
  border: 1px solid #FEFBF6;
  color: #FEFBF6;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
}
#pillNav2 .nav-link:hover {
  color: #ECB159;
}

#pillNav2 .nav-link.active {
  background-color: #FEFBF6;
  color: #ECB159;
}

#product-card {
  border: 1px solid #B67352;
  background-color: #FEFBF6;
  overflow: hidden;
  font-family: "Oswald", sans-serif;
  transition: all .5s ease-in-out;
}

#card-image {
  overflow: hidden;
  padding: 0;
  padding-top: 0%;
}

#card-image img {
  min-width: 280px;
  max-width: 280px;
  min-height: 202px;
  max-height: 202px;
}

#card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 3vh;
  text-align: start;
  transition: all .5s ease-in-out;
  overflow: visible;
}


#product-card:hover {
  transform: scale(1.01,1.01);
  background-color: #e8e5df;
  overflow: hidden;
}

#product-card h4, #product-card h5 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1vh;
}

#product-card h5 {
  color: #8CB9BD;
}

#product-card h6 {
  color: #B67352;
  font-family: 'Mulish', sans-serif;
}

#product-card span {
  font-size: small;
  color: #000000;
}

#product-card p {
  margin-top: 2VH;
  display: inline-block;
  border: 2px dashed black;
  font-family: 'Oswald', sans-serif;
  font-size: x-large;
  color: #000000;
}

#card-title{
  font-weight: bolder;
}

#product-details{
  font-family: 'Oswald', sans-serif;
  font-size: larger;
}

/* jesse css for page Rentals */

#rentals-container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100vw;
  height: 50rem;
}

#rentals-overview-container{
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: #FEFBF6;
  background-image: url('../Images/Rentals/rentalsoverview.jpg');
  /*Photo by <a href="https://unsplash.com/@actionvance?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">ActionVance</a> on <a href="https://unsplash.com/photos/crowd-facing-lighted-stage-eXVd7gDPO9A?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>*/
  height: 100%;
  width: 80%;
  margin-bottom: 1rem;
}

#rentals-overview{
  display: flex;
  padding: 1rem;
  flex-direction: column;
  background-color: #fefbf685;
  border: 3px solid #B67352;
  font-family: 'Oswald', sans-serif;
  height: 90%;
  width: 90%;
}

#rentals-overview h2, #rentals-overview h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

#rentals-overview p{
  font-weight: 400;
}

#form-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

#form-body label {
  font-size: x-large;
  font-family: 'Mulish', sans-serif;
}

#error {
  color: red;
  font-size: small;
  overflow: wrap;
}


#form-body input {
  display: block;
  border: 2px solid #B67352;
  border-radius: 2px;
  height: 3rem;
  width: 20rem;
  font-size: x-large;
  font-family: 'Oswald', sans-serif;
}

#products-selector {
  display: block;
  border: 2px solid #B67352;
  border-radius: 2px;
  height: 15rem;
  width: 20rem;
  font-size: x-large;
  font-family: 'Oswald', sans-serif;
}

#form-body button {
  margin-top: 1rem;
  background-color: #B67352;
  height: 3rem;
  width: 20rem;
}

@media (min-width: 768px) {
  .image-link img {
    max-width: 100%;
    height: auto;
  }
}


  




  

