
.navaltcolor{
  background-color: #8CB9BD;
}

.navcontainer{
  margin: auto;
  width: 50%;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.navbg {
  background-color: #8CB9BD;
}

.nav-item :hover{
    color: #FEFBF6;
}


.mainlogoimg {
position: inherit;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 60px;
  width: 60px;
  background-color:#8CB9BD;
  border: 1px solid #FEFBF6;
  
}

#gallerydivbg{
  background-color:#FEFBF6;
}

#gallerywidth{
  margin-left: 10%;
  margin-right: 10%;
}

#gallerytext{
  font-family: "Montserrat", sans-serif;
  color: #8CB9BD;
  text-align: center;
  font-size:50px;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.btn-primary{
    border:none !important;
    color: #FEFBF6;
    background-color: #8CB9BD;
}

.btn-hover{
    color: #B67352;
    background-color: #ECB159;
}

.btn-click{
    color: #ECB159;
    background-color: #B67352;
}

/* Game Start */
#coveringimgs {
  margin-top: 50px;
  text-align: center;
}

.image {
  cursor: pointer;
  width: 20%;
  margin: 10px;
}

.hidden {
  display: none;
}

#winTextDiv{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#winTextHead{
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#winTextBody{
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    
}

#contactButton {
    border:none !important;
    color: #FEFBF6;
    background-color: #8CB9BD;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    margin-bottom: 50px;
}

/* Game End */

/* Career Section Start*/
#careerTextHead{
  font-family: "Montserrat", sans-serif;
  color: #8CB9BD;
  text-align: center;
  font-size:xx-large;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#careerTextBody{
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: large;
  
}


/* Career Section End*/

h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    }

  h2 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  h3 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  h4{
    font-family: "Montserrat", sans-serif;
    color: #ECB159;
    background-color: #B67352;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  h6{
    font-family: "Montserrat", sans-serif;
    color: #000000;
    background-color:   #ECB159;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  h7{
    font-family: "Montserrat", sans-serif;
    color: #000000;
    background-color:  #FEFBF6;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .text-uppercase{
    font-family: "Montserrat", sans-serif;
    color: #FEFBF6;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .footerwrap{
    background-color:  #8CB9BD;
  }

  #footertext{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  .footlinks{
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
    font-style: normal;
  }

  /* ---------------- Tony ------------------------*/
  .text_centered{
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }

  .img_input{
    width: 200px; 
    height: 200px;
    margin: 20px;
  }

  .lorem{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }


  

